//projektowe kolory
// $main-color: #1755e7;
// $secondary-color: #164dcc;
// $pure-white: #fff;
// $light-white: #eee;
// $dark: #2e2e2e;
// $green-color: #00ffaa;
// $green-color-hover: #0fe29c;

// $light-blue-gradient: linear-gradient(
//   45deg,
//   rgba(8, 206, 255, 0.75),
//   rgba(8, 24, 255, 0.75)
// );
// $blue-gradient: linear-gradient(
//   45deg,
//   rgba(20, 105, 241, 0.75),
//   rgba(42, 10, 184, 0.75)
// );
// $purple-gradient: linear-gradient(
//   45deg,
//   rgba(190, 10, 214, 0.75),
//   rgba(68, 0, 255, 0.75)
// );
// $blue-gradient-solid: linear-gradient(
//   45deg,
//   rgb(20, 105, 241),
//   rgb(42, 10, 184)
// );
// $light-blue-gradient-solid: radial-gradient(
//   circle at top right,
//   rgb(0, 78, 255) 0%,
//   rgb(0, 212, 255) 100%
// );

//moje kolory
$main-color: #f8a52b;
$secondary-color: #d98f19;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$dark-color: #0b0b0c;
$blue-color-hover: #0a5dda;

$light-orange-gradient: linear-gradient(
  316deg,
  #ffe190bf 0%,
  rgba(250, 158, 140, 0.75) 74%
);
$orange-gradient: linear-gradient(
  316deg,
  rgba(209, 69, 69, 0.75) 10%,
  rgba(255, 153, 51, 0.75) 74%
);
$yellow-gradient: linear-gradient(
  315deg,
  rgba(251, 176, 52, 0.75) 0%,
  rgba(255, 221, 0, 0.75) 74%
);
$orange-gradient-solid: linear-gradient(
  45deg,
  rgba(209, 69, 69, 0.75),
  rgba(255, 208, 69, 0.75)
);
$light-blue-gradient-solid: radial-gradient(
  circle at top right,
  rgba(120, 140, 182, 0.75) 0%,
  rgba(253, 184, 19, 0.75) 100%
);

// https://paletton.com/#uid=30L0u0kqsv7gqGSlAzbuKqLxfl3

// color: #07049;
