@use "colors" as *;

@mixin burgerBtn {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: $pure-white;
  transition: width 0.5s;
}

@mixin heroImgages($bgImg) {
  background-image: $orange-gradient, url($bgImg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin contactForm {
  height: 50px;
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  font-size: 1.6rem;
  border: none;
}
