@use "colors" as *;

@mixin burgerBtn {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: $pure-white;
  transition: width 0.5s;
}

@mixin heroImgages($bgImg) {
  background-image: $orange-gradient, url($bgImg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
