@use "./colors" as *;
@use "./components" as *;
@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  // font-size: 62.5%; - to samo co 10px, bo 62.5% z 16 px to 10px
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  // font-family: "Tektur", cursive;
  font-size: 1.6rem;
}

// nav
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s;
  background-image: $orange-gradient-solid;
  z-index: 100;

  &--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    margin: 0.5em 0;
    text-decoration: none;
    font-size: 3.4rem;
    padding: 0.5em 2em;
    display: block;
    color: $pure-white;

    &::before {
      position: absolute;
      top: 0;
      left: -10px;
      // wid2th: 3px;
      // height: 100%;
      // transform: scaleY(0);
      // background-color: $pure-white;
      transition: transform 0.6s;
      content: "";
    }
    &:hover::before {
      // transform: scaleY(1);
      content: url(../img/bee-white.png);
    }
  }
}

.burger-btn {
  position: fixed; //bo ma byc zawsze przyklejony jak jest scrolowany
  top: 18px;
  right: 18px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    @include burgerBtn;
  }
  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
      transition-delay: 0.1s;
    }
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}

.nav-items-animation {
  animation: navItemsAnimation 1s both;
  // animation-delay: .1s;
}

//header
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: $pure-white;
  @include heroImgages("../img/header-small.jpg");
  background-attachment: scroll;

  span {
    font-weight: 700;
  }
  &__heading {
    font-family: "Tektur", cursive;
    font-size: 4.5rem;
    font-weight: 300;
  }

  &__text {
    font-size: 1.4rem;
  }
  &__btn {
    background: $pure-white;
    margin-top: 2em;
    padding: 0.8em 1.6em;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      background-color: $light-white;
    }
  }
}

//main
//aboutus section
.aboutus {
  &__box {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }
  &__img {
    width: 100%;
    margin-bottom: 1em;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__text {
    font-size: 1.4rem;
  }
}

//hero img
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10em -2em;
  @include heroImgages("../img/miod-rzepakowy-small.jpg");
  text-align: center;
  color: $pure-white;
  height: 80vh;
  overflow: hidden;

  &__title {
    font-family: "Tektur", cursive;
    font-size: 7rem;
  }
  &__text {
    padding: 1em 0;
    font-size: 2rem;
  }
}

// ---------------------
// MEDIA
// ---------------------

@media (min-width: 576px) {
  .aboutus {
    &__box {
      flex-direction: row;
      justify-content: space-between;

      &-text {
        width: 55%;

        &--right {
          text-align: right;
        }
      }

      &-img {
        width: 40%;

        &--right {
          order: 1;
        }
      }
    }

    &__img {
      margin-bottom: 0;
      max-height: 300px;
    }
  }
}

@media (min-width: 768px) {
  .white-block {
    height: 45px;
    width: 48%;
  }

  .header {
    &__heading {
      font-size: 6.6rem;
    }

    &__text {
      font-size: 2.2rem;
    }

    &__btn {
      font-size: 1.8rem;
    }
  }

  .aboutus {
    &__text {
      font-size: 1.8rem;
    }
  }
  .hero-img {
    padding: 30rem 2em;
    &__title {
      font-size: 5rem;
    }
    &__text {
      font-size: 2.2rem;
    }
  }
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: $orange-gradient, url("../img/header-big.jpg");

    &__heading {
      font-size: 10rem;
    }
  }

  .nav {
    &__item {
      font-size: 6rem;

      &::before {
        top: 30px;
        left: 20px;
      }
    }
  }
  .aboutus {
    &__box {
      margin: 5em 0;
    }

    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: 2rem;
    }
  }

  .hero-img {
    padding: 40rem 2em;
    background-image: $orange-gradient, url("../img/miod-rzepakowy.jpg");

    &__title {
      font-size: 12rem;
    }

    &__text {
      font-size: 5rem;
    }
  }
}
