@use "./colors" as *;
@use "./components" as *;
@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  // font-size: 62.5%; - to samo co 10px, bo 62.5% z 16 px to 10px
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  // font-family: "Tektur", cursive;
  font-size: 1.6rem;
  color: $dark;
}

// nav
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s;
  background-image: $orange-gradient-solid;
  z-index: 100;

  &--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    margin: 0.5em 0;
    text-decoration: none;
    font-size: 3.4rem;
    padding: 0.5em 2em;
    display: block;
    color: $pure-white;

    &::before {
      position: absolute;
      top: 0;
      left: -10px;
      // wid2th: 3px;
      // height: 100%;
      // transform: scaleY(0);
      // background-color: $pure-white;
      transition: transform 0.6s;
      content: "";
    }
    &:hover::before {
      // transform: scaleY(1);
      content: url(../img/bee-white.png);
    }
  }
}

.burger-btn {
  position: fixed; //bo ma byc zawsze przyklejony jak jest scrolowany
  top: 18px;
  right: 18px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    // border-radius: 12px;
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    @include burgerBtn;
  }
  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
      transition-delay: 0.1s;
    }
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}

.nav-items-animation {
  animation: navItemsAnimation 1s both;
  // animation-delay: .1s;
}

//header
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: $pure-white;
  @include heroImgages("../img/header-small.jpg");
  background-attachment: scroll;

  span {
    font-weight: 700;
  }
  &__heading {
    font-family: "Rammetto One", cursive;
    font-size: 4.5rem;
    font-weight: 300;
  }

  &__text {
    font-size: 1.4rem;
  }
  &__btn {
    background: $pure-white;
    margin-top: 2em;
    padding: 0.8em 1.6em;
    border: none;
    // border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      background-color: $light-white;
    }
  }
}

//main
//aboutus section
.aboutus {
  &__box {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }
  &__img {
    width: 100%;
    margin-bottom: 1em;
  }

  &__title {
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 3.2rem;
  }

  &__text {
    font-size: 1.4rem;
  }
}

//hero img
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10em -2em;
  @include heroImgages("../img/miod-rzepakowy-small.jpg");
  text-align: center;
  color: $pure-white;
  height: 70vh;
  overflow: hidden;

  &__title {
    font-family: "Rammetto One", cursive;
    font-size: 2.5rem;
    padding: 0.5em 0.2em;
  }
  &__text {
    padding: 0.5em 1em;
    font-size: 2rem;
  }
}

//FAQ offers
.faq {
  &__card {
    position: relative;
    margin: 1em 0;
    height: 600px;
    color: $pure-white;
    text-align: center;
    perspective: 1000px;

    &:hover {
      .faq__card-img {
        transform: rotateY(-180deg);
        opacity: 0;
      }
      .faq__card-info {
        transform: rotateY(0);
        opacity: 1;
      }
    }

    &-img {
      padding: 2em;
      height: 100%;
      // border-radius: 8px;
      background-size: cover;
      transition: transform 1.5s, opacity 1.5s;

      &--first {
        background-image: $light-blue-gradient-solid,
          url("../img/sloik-miodu.jpg");
      }
      &--second {
        background-image: $orange-gradient, url("../img/rozlewanie-miodu.jpg");
      }
      &--third {
        background-image: $yellow-gradient, url("../img/pszczoly.jpg");
      }

      &-title {
        position: absolute;
        top: 1.5em;
        left: 1.3em;
        font-family: "Rammetto One", cursive;
        font-size: 2rem;
        letter-spacing: 0.2em;
      }
      &-info {
        position: absolute;
        bottom: 1.5em;
        right: 1.2em;
        font-size: 2rem;

        i {
          margin-right: 0.3em;
        }
      }
    }

    &-info {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border-radius: 8px;
      background-image: $orange-gradient;
      opacity: 0;
      transform: rotateY(180deg);
      transition: transform 1.5s opacity 1.5s;

      &-title {
        position: absolute;
        left: 1.3em;
        top: 1.5em;
        font-family: "Rammetto One", cursive;
        letter-spacing: 0.2em;
        font-size: 1.6rem;
      }

      &-text {
        padding: 1em;
      }

      &-list {
        margin: 0 auto;
        list-style: none;

        &-item {
          padding: 1em;
          font-size: 1.4rem;
          border-bottom: 1px solid $light-white;
          margin: 0 auto;

          a {
            text-decoration: none;
            color: $pure-white;
            font-weight: bold;

            &:hover {
              color: $dark;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      // &-btn {
      //   position: absolute;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   bottom: 2em;
      //   padding: 1em;
      //   // border-radius: 8px;
      //   width: 80%;
      //   border: none;
      //   background-color: $dark;
      //   color: $pure-white;
      //   cursor: pointer;

      //   // &::before {
      //   //   background-color: $dark-color;
      //   // }
      // }
    }
  }
}

//miody - oferta
.offers {
  // position: relative;
  // @include heroImgages("../img/sloikmiod-small.jpg");
  // overflow: hidden;

  // .section-heading {
  //   // color: $pure-white;
  // }

  &__option {
    margin: 1em 0;
    box-shadow: 5px 5px 20px $light-white;
    // background-color: $pure-white;
    overflow: hidden;

    &-img {
      width: 100%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
    &-info {
      padding: 2em;
      background-color: $pure-white;
      z-index: 10;
    }
    &-heading {
      margin-bottom: 0.5em;
      font-size: 2.4rem;
      font-weight: 300;
    }
    &-text {
      margin-bottom: 0.5em;
      font-size: 1.3rem;
    }
  }
}

//reviews

@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}
.reviews {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 50vh;
  @include heroImgages("../img/sloikmiod-small.jpg");
  overflow: hidden;

  .section-heading {
    color: $pure-white;
  }

  &__box {
    position: relative;
    background-color: $pure-white;
    margin: 2em;
    padding: 2em;
    // box-shadow: 2px 2px 20px $light-white;
    height: auto;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.97);
    }
  }

  &__box-img {
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      box-shadow: 2px 2px 10px #b5b4b4;
      border-radius: 50%;
    }
  }

  &__box-google {
    position: absolute;
    bottom: 5%;
    right: 5%;

    img {
      width: 25px;
      height: 25px;
    }
  }

  &__box-quote {
    margin-bottom: 1em;
    font-size: 3rem;
    color: $main-color;
  }

  &__box-text {
    margin-bottom: 1em;
    font-size: 1.6rem;
  }

  .white-block-left {
    background-color: $light-white;
  }
}

//contact
.contact {
  position: relative;
  background-color: $light-white;

  .white-block-left {
    background-color: $dark;
  }

  .section-padding {
    padding: 0 0;
    padding-bottom: 3em;
  }

  &__form,
  &__form-top {
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  &__form-input {
    @include contactForm;
  }
  &__form-textarea {
    @include contactForm;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 200px;
  }

  &__form-btn {
    align-self: flex-end;
    padding: 1em;
    width: 100%;
    max-width: 50%;
    color: $pure-white;
    border: none;
    background-color: $main-color;
    cursor: pointer;

    &::before {
      background-color: $secondary-color;
    }
  }
}

//footer
.footer {
  color: $pure-white;
  background-color: $dark;

  .wrapper {
    padding: 6em 2em 2em;
  }

  &__box-desktop {
    display: none;
  }
  &__box-title {
    margin-bottom: 1.5em;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__box-social {
    margin: 2em 0 1em;
  }

  &__box-link {
    color: $pure-white;
    font-size: 3.6rem;
    padding: 0 0.3em;
    text-decoration: none;
    transform: color 0.3s;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $main-color;
    }
  }

  &__bottom-text {
    text-align: center;
    padding: 2em;
  }
}

// ---------------------
// MEDIA
// ---------------------

@media (min-width: 576px) {
  .aboutus {
    &__box {
      flex-direction: row;
      justify-content: space-between;

      &-text {
        width: 55%;

        &--right {
          text-align: right;
        }
      }

      &-img {
        width: 40%;

        &--right {
          order: 1;
        }
      }
    }

    &__img {
      margin-bottom: 0;
      max-height: 300px;
    }
  }

  .hero-img {
    padding: 30rem 2em;

    &__title {
      font-family: "Rammetto One", cursive;
      font-size: 5rem;
    }
    &__text {
      font-size: 2.8rem;
      padding: 0 1em;
      width: 90%;
    }
  }

  .faq {
    &__card {
      &-img {
        &-title {
          font-size: 3rem;
        }
        &-info {
          font-size: 2.5rem;
        }
      }
      &-info {
        &-title {
          font-size: 3rem;
        }
        &-text {
          font-size: 2rem;
        }
        &-list {
          font-size: 2rem;
          width: 90%;
          margin-top: 2em;
          &-item {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .offers {
    &__option {
      display: flex;
      margin: 2em 0;
      width: 100%;

      &-img {
        width: 50%;
        height: auto;
        object-fit: cover;

        &--right {
          order: 1;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
      }
    }
  }
}

@media (min-width: 768px) {
  .white-block {
    height: 45px;
    width: 48%;
  }

  .header {
    &__heading {
      font-size: 6.6rem;
    }

    &__text {
      font-size: 2.2rem;
    }

    &__btn {
      font-size: 1.8rem;
    }
  }

  .aboutus {
    &__text {
      font-size: 1.8rem;
    }
  }
  .hero-img {
    padding: 30rem 2em;

    &__title {
      font-family: "Rammetto One", cursive;
      font-size: 6.5rem;
    }
    &__text {
      font-size: 3.3rem;
      padding: 0 1em;
    }
  }
  .faq {
    &__cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__card {
      margin: 1em;
      width: 45%;

      &-img {
        &-title {
          font-size: 2.4rem;
        }
      }
      &-info {
        &-title {
          font-size: 2.4rem;
        }
      }
    }
  }
  .offers {
    &__option {
      &-heading {
        font-size: 3.2rem;
      }
      &-text {
        font-size: 1.6rem;
      }
    }
  }

  .footer {
    &__boxes {
      display: flex;
      justify-content: space-between;
    }
    &__box-desktop {
      display: block;
    }

    &__box {
      margin: 0 2em;
      width: 30%;

      &:first-child {
        width: 40%;
      }
    }

    &__box-title {
      font-size: 2rem;
      height: 50px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    &__box-list {
      list-style: none;
      text-decoration: none;
    }

    &__box-list-item {
      margin-bottom: 1em;
      a {
        text-decoration: none;
        color: $pure-white;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: $orange-gradient, url("../img/header-big.jpg");

    &__heading {
      font-size: 10rem;
    }
  }

  .nav {
    &__item {
      font-size: 6rem;

      &::before {
        top: 30px;
        left: 20px;
      }
    }
  }
  .aboutus {
    &__box {
      margin: 5em 0;
    }

    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: 1.8rem;
    }
  }

  .hero-img {
    padding: 40rem 2em;
    background-image: $orange-gradient, url("../img/miod-rzepakowy.jpg");

    &__title {
      font-size: 8rem;
    }

    &__text {
      font-size: 4rem;
      width: 80%;
    }
  }
  .offers {
    // background-image: $orange-gradient, url("../img/sloikmiod.jpg");

    &__option {
      &-img {
        object-fit: cover;
      }
    }
  }
  .section-padding {
    padding: 4em;
  }
}

@media (min-width: 1100px) {
  .faq {
    &__card {
      width: 30%;

      &-img {
        background-position: center;
      }
    }
  }
}
